<!doctype html>
<html lang="en">

<head>
    {{!-- Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Roboto" rel="stylesheet">

    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- custom CSS --}}
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="icon" href="/images/favicon.png">
    <title>mango</title>
</head>

<body>
    {{!-- Navbar Start --}}
    <nav class="navbar navbar-expand-lg navbar-dark sea-green py-3 nav-shadow mb-3">
        <a class="navbar-brand" href="#">🥭 <b>mango</b></a>
        <button id="side-toggle" class="navbar-toggler border-0" type="button" data-toggle="collapse"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Finance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Science</a>
                </li>
            </ul>
        </div>
    </nav>
    {{!-- Navbar End --}}
    {{!-- Sidebar Start --}}
    <div id="sidebar" class="sidebar">
        <div class="row">
            <div class="col-12">
                <button id="sidebar-close" class="navbar-toggler border-0" type="button" data-toggle="collapse"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            </div>
        </div>
    </div>
    {{!-- Sidebar End --}}


    {{!-- Main Content Start --}}
    <div class="container-fluid">
        {{{body}}}
    </div>
    {{!-- Main Content Start --}}

    {{!-- Modal Start --}}
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">We Use Cookies</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    We use cookies; fuck you...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go to hell</button>
                    <button type="button" class="btn btn-primary">What ever</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Modal Start --}}
    {{!-- Optional JavaScript --}}
    {{!-- jQuery first, then Popper.js, then Bootstrap JS --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(() => {
        $(".navbar-toggler").click(function(e){
            $("#sidebar").removeClass("close");
            $("#sidebar").toggleClass("open");

        })
        $("#sidebar-close").click(function(e){
            
            $("#sidebar").toggleClass("close");
        })
        //define sign in link
        var signInLink = `<li class="nav-item">
                                <a class="nav-link" href="/login">Sign In / Register</a>
                            </li>`;
        //define profile link
        var profileLink = `<li class="nav-item">
                                <a class="nav-link" href="/profile">Profile</a>
                            </li>`;
        //define log out link
        var logOutLink = `<li class="nav-item">
                                <a id="signOut" class="nav-link" href="#">Sign Out</a>
                            </li>`;
        //set valid userId
        console.log(document.cookie.split("=")[0]);
        //check to see if the user is signed in
        if (document.cookie.split("=")[0] === 'token') {
            //if user logged in append appropriate links to navbar
            $("#navLinks").append(profileLink + logOutLink)
            $("#signOut").click(function (e) {
                //e.preventDefault();
                document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                location.reload();
                window.location.assign("/");
            })
        } else {
            //if user not logged append appropriate links to navbar
            $("#navLinks").append(signInLink);
        }

        $("#register").click(function(e) {
            e.preventDefault();

            var user = {
                email: $("#register-email").val().trim(),
                password: $("#register-password-one").val().trim()
            };

            axios.post("/register", user)
            .then(function(resp) {
                console.log(resp);
            })
            .catch(function(err) {
                console.log(err);
            });

        });

        $("#signIn").click(function(e) {
            e.preventDefault();
            var user = {
                email: $("#signIn-email").val().trim(),
                password: $("#signIn-password").val().trim()
            };

            axios.post("/login", user)
            .then(function(resp) {
                console.log(resp);
            })
            .catch(function(err) {
                console.log(err);
            });

        });

    })
</script>

</html>