<div class="row">
    <div class="col-12">
        <div class="card">
            <form>
                <div class="form-group">
                    <label for="register-email">Email address</label>
                    <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp"
                        placeholder="Enter email">

                </div>
                <div class="form-group">
                    <label for="register-password-one">Password</label>
                    <input type="password" class="form-control" id="register-password-one" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="register-password-two">Re-Enter Password</label>
                    <input type="password" class="form-control" id="register-password-two" placeholder="Re-Enter Password">
                </div>

                <button id="register" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>